@model eUseControl.Web.Models.UserRegister

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
  <section class="signup">
    <div class="container">
      <div class="signup-content">
        <div class="signup-form">
          <h2 class="form-title">Sign up</h2>
          <div id="register-form">
            @* <div class="form-group"> *@
            @*   <label for="username" class="zmdi zmdi-account">Username</label> *@
            @*   <input type="text" name="username" placeholder="Username"/> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*   <label for="email" class="zmdi zmdi-email">Email</label> *@
            @*   <input type="email" placeholder="Your Email"/> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*   <label for="password" class="zmdi zmdi-lock">Password</label> *@
            @*   <input type="password" name="password" placeholder="Password"/> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*   <label for="re-password" class="zmdi zmdi-lock">Repeat password</label> *@
            @*   <input type="password" name="re-password" placeholder="Repeat your password"/> *@
            @* </div> *@
            @* <div class="form-group form-button"> *@
            @*   <input name="signup" value="Register" type="submit" class="form-submit"/> *@
            @* </div> *@
            @Html.ValidationSummary(true)
            @using (Html.BeginForm("Register", "Register", FormMethod.Post, new { @id = "register-form" }))
            {
              @Html.ValidationSummary(true, "", new { @class = "text-danger" })

              <div class="form-group">
                @Html.LabelFor(model => model.Username, " ", new { @class = "zmdi zmdi-account material-icons-name" })
                @Html.TextBoxFor(model => model.Username, new { placeholder = "Username", title = " ", value = " ", name = "username", id = "username" })
                @Html.ValidationMessageFor(model => model.Username)
              </div>
              <div class="form-group">
                @Html.LabelFor(model => model.Email, " ", new { @class = "zmdi zmdi-email" })
                @Html.TextBoxFor(model => model.Email, new { placeholder = "Your Email", title = " ", value = " ", name = "email", id = "email" })
                @Html.ValidationMessageFor(model => model.Email)
              </div>
              <div class="form-group">
                @Html.LabelFor(model => model.Password, " ", new { @class = "zmdi zmdi-lock" })
                @Html.TextBoxFor(model => model.Password, new { type = "password", title = " ", placeholder = "Password", value = " ", name = "pass", id = "pass" })
                @Html.ValidationMessageFor(model => model.Password)
              </div>
              <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, " ", new { @class = "zmdi zmdi-lock" })
                @Html.TextBoxFor(model => model.ConfirmPassword, new { type = "password", title = " ", placeholder = "Repeat your password", value = " ", name = "re_pass", id = "re_pass" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
              </div>
              <div class="form-group">
                @Html.TextBox("agree-term", " ", new { @class = "agree-term", type = "checkbox" })
                <label for="agree-term" class="label-agree-term">
                  <span>
                    <span></span>
                  </span>I agree all statements in <a href="#" class="term-service">Terms of service</a>
                </label>
              </div>
              <div class="form-group form-button">
                @Html.TextBox("signup", "Register", new { @class = "form-submit", type = "submit" })
              </div>
            }
          </div>
        </div>
        <div class="signup-image">
          <figure>
            <img src="@Url.Content("~/assets/images/logo/logo-vet.png")" alt="sing up image" class="register-logo">
          </figure>
          <a href="@Url.Action("Login", "Login")" class="signup-image-link">I am already member</a>
        </div>
      </div>
    </div>
  </section>
</div>